@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2c3e50, #fd746c);
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.box{
    color: rgb(206, 193, 177);
    height: 50vh;
    width: 40vh;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    
    
}

input{
    background-color: inherit;
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
h1 {
    margin-top: 20px;
}

h3{
    margin-top: 20px;
}
